<body style="font-family: Arial, Helvetica, sans-serif; width: 90%; margin-top: 10px; border: 1px solid #00c454; border-radius: 10px; box-shadow: 0 0 20px rgba(0,0,0,0.3); align-items: center; margin: 20px auto; padding-bottom: 20px;">
  <div class="header" style="background-color: #00c454; padding: 5px; text-align: center; border-radius: 10px 10px 0 0; color: white !important;">
    <h3>Recuperação de senha da Nuflow Market</h3>
  </div>
  <div class="mail-content" style="padding: 10px 20px; text-align: center;">
    <h2 style="color: gray; text-align: center;">Olá,</h2>

    <p style="color: gray; text-align: center;">Você requisitou para que sua senha no nosso sistema seja resetada.</p>

    <p style="color: gray; text-align: center;">Para escolher a nova senha, clique no botão abaixo:</p>
    <%= link_to edit_password_url(@user, reset_password_token: @token), style: "text-align: center;" do %>
      <p style="background-color: transparent;border-radius: 4px; color: #00c454; cursor: pointer; display: inline-block; padding: 7px 20px; text-align: center; text-decoration: none; transition: all 250ms; border: 1px solid #00c454; font-size: 16px; user-select: none; -webkit-user-select: none; touch-action: manipulation;">
        Criar senha
      </p>
    <% end %>
    <p class="text-center" style="color: gray; text-align: center;">Dúvidas? Entre em contato com através do email atendimento@nuflow.com.br</p>

    <hr class="footer-line" style="border: 0.1px solid #00c454; width: 30%; height: 0.2px;">
    <div class="footer" style="text-align: center; padding-top: 10px;">
      <%= image_tag attachments["white_logo.png"].url, class: "footer-brand", style: "height: 6rem;"%>
      <div class="social-icons" style="align-items: center; gap: 10px;">
        <a href="https://www.youtube.com/channel/UCMvz9XhN0wl39RK4y7Q7cEw" class="footer-icon" style="width: 22px;height: 22px;"><%= image_tag attachments['youtube.png'].url, class: "social-icon", style:"width: 22px; height: 22px;" %></a>
        <a href="https://www.instagram.com/_nuflow_/"><%= image_tag attachments["instagram.png"].url, class: "social-icon", style:"width: 22px; height: 22px;" %></a>
      </div>
    </div>
  </div>
</body>
