.technical-details-bike {
  box-shadow: 0px 0px 20px 0px #00c4545e;
  border-radius: 3px;
  height: 60vh;
  padding: 20px;
  border: 1px solid $color-primary;
}

.bike-info {
  color: #b5b5b5;
  // font-size: 20px;
  margin: auto 2px;
}

.bike-attrs-parts {
  // font-size: 24px;
  margin: auto 2px;
}

.bike-orientation {
  margin: auto ;
  color: #b5b5b5;
}


.conditions-details-bike {
  box-shadow: 0px 0px 20px 0px #00c4545e;
  border-radius: 3px;
  height: 50vh;
  padding: 20px;
  border: 1px solid $color-primary;
}

.bike-show {
  background-color: rgb(16,16,16);
  padding: 0 50px 50px 50px;
}

.card-bike {
  border-radius: 3px;
  position: sticky;
  top: 7rem;
  max-height: 200vh;
  background-color: rgb(20, 20, 20);
  .fa-heart {
    color: $color-primary;
  }
  p {
    margin-bottom: .5rem !important;
  }
}

.tabcontent {
  display: none;
}

.bike-part-card {
  width:65px;
  height:65px;
  filter: invert(46%) sepia(99%) saturate(1234%) hue-rotate(110deg) brightness(97%) contrast(102%);
}


.img-card-show {

  height: 75vh;
  border-radius: 5px;
  border: none;
}


@media (max-width: 768px) {
  .bike-show {
    padding: 15px;
    margin-top: 20px;
  }
  .card-bike {
    margin-left: 4%;
  }

  .card-bike {
    margin-top: 10%;
    margin-left: 2px;
    margin-right: 2px;
    width: 100% !important;
  }

  .bike-photos {
    width: 100% !important;
  }

  .bike-show-infos {
    display: block !important;
  }

  .bike-attrs-parts, .bike-info {
    font-size: 15px;
  }

  .bike-sections-show {
    overflow-x: auto;
  }


  .bike-sections-show::-webkit-scrollbar {
    display: none;
  }
}
