.technical-details-bike {
  box-shadow: 0px 0px 20px 0px #00c4545e;
  border-radius: 3px;
  height: 60vh;
  padding: 20px;
  border: 1px solid $color-primary;
}

.bike-info {
  color: #b5b5b5;
  // font-size: 20px;
  margin: auto 2px;
}

.bike-attrs-parts {
  // font-size: 24px;
  margin: auto 2px;
}

.bike-orientation {
  // margin: auto ;
  margin-bottom: 0;
  margin-top: 5px;
  color: #b5b5b5;
}


.conditions-details-bike {
  box-shadow: 0px 0px 20px 0px #00c4545e;
  border-radius: 3px;
  height: 50vh;
  padding: 20px;
  border: 1px solid $color-primary;
}

.bike-show {
  background-color: rgb(16,16,16);
  padding: 15px 50px 50px 50px;
}

.card-bike {
  border-radius: 3px;
  position: sticky;
  top: 7rem;
  max-height: 200vh;
  background-color: rgb(20, 20, 20);
  .fa-heart {
    color: $color-primary;
  }
  p {
    margin-bottom: .5rem !important;
  }
}

.tabcontent {
  display: none;
}

.bike-part-card {
  width:65px;
  height:65px;
  filter: invert(46%) sepia(99%) saturate(1234%) hue-rotate(110deg) brightness(97%) contrast(102%);
}


.img-card-show {
  height: 75vh;
  border-radius: 5px;
  border: none;
  object-fit: cover;
}

.photo-modal {
  width: 100%;
  height: calc(100vh - 150px);
  object-fit: contain;
  border-radius: 10px;

}

.photo-btn {
  padding: 0 !important;
  border: none !important;
  border-radius: 5px !important;
  width: 100%;
}

.modal-photo {
  margin-top: 100px !important;
  margin-left: auto;
  .modal-dialog {
    max-width: 100vw !important;
    max-height: calc(100vh - 100px) !important;
    margin: 0 !important;
    border-radius: 10px;

  }
}



@media (max-width: 768px) {
  .bike-show {
    padding: 15px;
    margin-top: 20px;
  }
  .card-bike {
    margin-left: 4%;
  }

  .card-bike {
    margin-top: 10%;
    margin-left: 2px;
    margin-right: 2px;
    width: 100% !important;
  }

  .bike-photos {
    width: 100% !important;
  }

  .bike-show-infos {
    display: block !important;
  }

  .bike-attrs-parts, .bike-info {
    font-size: 15px;
  }

  .bike-sections-show {
    overflow-x: auto;
  }


  .bike-sections-show::-webkit-scrollbar {
    display: none;
  }

  .modal-photo {
    margin: 80px auto;
  }

}

.modal-dialog-centered{
  postion: relative;
}

.modal-content {
  background: transparent;
  border: none;
  position: absolute;
  top: 4rem;
}

.modal-dialog {
  border-radius: 8px;
  max-width: 70vw;
}

@media (max-width: 768px) {
.modal-dialog {
  max-width: 100vw;

  .modal-content{
  top: 2rem
  }
}
}

.closeModal {
  position: fixed;
  right: 80px;
  top: 100px;
  z-index: 1100;
  font-size: 30px;
  cursor: pointer;
  @media (max-width: 768px) {
  right: 20px;
  top: 100px;
  }
}
