.technical-details-bike {
  box-shadow: rgba(17, 17, 26, 0.3) 0px 1px 0px, rgba(17, 17, 26, 0.3) 0px 8px 24px, rgba(17, 17, 26, 0.3) 0px 16px 48px;
  border-radius: 3px;
  height: 60vh;
  padding: 20px;
}

.conditions-details-bike {
  box-shadow: rgba(17, 17, 26, 0.3) 0px 1px 0px, rgba(17, 17, 26, 0.3) 0px 8px 24px, rgba(17, 17, 26, 0.3) 0px 16px 48px;
  border-radius: 3px;
  height: 50vh;
  padding: 20px;
}
