// Specific CSS for your home-page
.first-section-home {
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)), image-url("banner.png");
  background-size: cover;
  padding: -1px 320px;
  height: 105vh;
  margin-top: -150px;

  h1 {
    font-size: 100px !important;
  }
  p {
    font-size: 25px !important;
  }
}

.second-section-home {
  background-color: rgb(240,255,240);
  background: #101010;
}
