// Specific CSS for your home-page
.first-section-home {
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)), image-url("banner.png");
  background-size: cover;
  padding: -1px 320px;
  height: 105vh;
  margin-top: -150px;

  h1 {
    font-size: 100px !important;
  }
  p {
    font-size: 25px !important;
  }
}

.second-section-home {
  background-color: #F4F4F9;
}

.third-section-home {
  background-color: #101010;


  .v-check-line {
    border-left: 5px solid rgb(0,195,54);
    height: 60px;
    position:absolute;
    left: 71%;
  }

  .h-check-line {
    border: 2px solid rgb(0,195,54);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 26% !important;
    width: 612px;

  }

  .v-check-line-b {
    border-left: 5px solid rgb(0,195,54);
    height: 82px;
    margin-left: 71%;
    margin-top: -116px !important;
    margin-bottom: 0 !important;

  }

  .v-check-line-left {
    border-left: 5px solid rgb(0,195,54);
    height: 70px;
    position:absolute;
    left: 26%;
  }

  .v-check-line-left-4 {
    border-left: 5px solid rgb(0,195,54);
    height: 111px;
    position:absolute;
    left: 26%;
  }

  .v-check-line-b-left {
    border-left: 5px solid rgb(0,195,54);
    height: 82px;
    margin-left: 26%;
    margin-top: -85px !important;
    margin-bottom: 0 !important;

  }

  .v-check-line-right {
    border-left: 5px solid rgb(0,195,54);
    height: 95px;
    position:absolute;
    left: 71%;
  }

  .v-check-line-right-5 {
    border-left: 5px solid rgb(0,195,54);
    height: 63px;
    position:absolute;
    left: 71%;
  }

  .v-check-line-b3 {
    border-left: 5px solid rgb(0,195,54);
    height: 110px;
    margin-left: 71%;
    margin-top: -95px !important;
    margin-bottom: 0 !important;
  }
}

.fourth-section-home {
  background-color: #F4F4F9;
}

.sixth-section-home {
  background-color: #F4F4F9;
}


.seventh-section-home {

  .fa-quote-left, .fa-quote-right {
    font-size: 10px;
  }
}

@media (max-width: 725px) {

  .first-section-home {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), image-url("banner-mobile.png");
    background-size: auto;
    padding: -1px 320px;
    height: 150vh;
    margin-top: -150px;

    h1 {
      margin-top: 90px;
      font-size: 90px !important;

    }
  }

  .btn-outline {
    margin-left: 0 !important;
  }

  .third-section-home {
    display: block !important;
    margin-top: 0 !important;
    background-image: none !important;

    .responsive-block {
      display: block !important;
    }

    .bike-png {
      display: none;
    }

    .report {
      width: 75% !important;
    }


  }


  .fourth-section-home {
    .text-success {
      text-align: center !important;
    }


  }

  .fifth-section-home {
    .blog-text {
      margin-top: 20px;
      margin-left: 0px !important;
    }

    .cards-blog {
      width: 100%;
      margin-top: 20px;
      margin-left: 0;
    }
  }

  .sixth-section-home {
    .social {
      display: block !important;
    }
  }

  .seventh-section-home {

    .review-card {
      width: 100% ;
      margin-left: 0;
    }
  }

  .wpp-btn {
    display: none;
  }
}

@media (max-width: 425px) {

  .first-section-home {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), image-url("banner-mobile.png");
    background-size: auto;
    padding: -1px 320px;
    height: 150vh;
    margin-top: -150px;

    h1 {
      margin-top: 100px;
      font-size: 90px !important;

    }
  }

  .btn-outline {
    margin-left: 0 !important;
  }

  .third-section-home {
    display: block !important;
    margin-top: 0 !important;
    background-image: none !important;

    .responsive-block {
      display: block !important;
    }

    .bike-png {
      display: none;
    }

    .report {
      width: 75% !important;
    }


  }

  .fourth-section-home {
    .text-success {
      text-align: center !important;
    }
  }

  .fifth-section-home {
    .blog-text {
      margin-top: 20px;
      margin-left: 0px !important;
    }

    .cards-blog {
      width: 100%;
      margin-top: 20px;
      margin-left: 0;
    }
  }

  .sixth-section-home {
    .cards-social-media {
      width: 100%;
    }
  }

  .seventh-section-home {

    .review-card {
      width: 100%;
      margin-left: 0;

    }
  }

  .wpp-btn {
    display: none;
  }
}

@media (max-width: 415px) {

  .first-section-home {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), image-url("banner-mobile.png");
    background-size: auto;
    padding: -1px 320px;
    height: 140vh;
    margin-top: -150px;

    h1 {
      margin-top: 100px;
      font-size: 90px !important;

    }
  }

  .btn-outline {
    margin-left: 0 !important;
  }

  .third-section-home {
    display: block !important;
    margin-top: 0 !important;
    background-image: none !important;

    .responsive-block {
      display: block !important;
    }

    .bike-png {
      display: none;
    }

    .report {
      width: 75% !important;
    }

  }

  .fourth-section-home {
    .text-success {
      text-align: center !important;
    }
  }

  .fifth-section-home {
    .blog-text {
      margin-top: 20px;
      margin-left: 0px !important;
    }

    .cards-blog {
      width: 100%;
      margin-top: 20px;
      margin-left: 0;
    }
  }

  .sixth-section-home {
    .cards-social-media {
      width: 100%;
    }
  }

  .seventh-section-home {

    .review-card {
      width: 100%;
      margin-left: 0;

    }
  }

  .wpp-btn {
    display: none;
  }
}

@media (max-width: 389px) {

  .first-section-home {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), image-url("banner-mobile.png");
    background-size: auto;
    padding: -1px 320px;
    height: 180vh;
    margin-top: -150px;

    h1 {
      margin-top: 100px;
      font-size: 90px !important;
    }
  }

  .btn-outline {
    margin-left: 100px;
  }

  .third-section-home {
    display: block !important;
    margin-top: 0 !important;
    background-image: none !important;

    .responsive-block {
      display: block !important;
    }

    .bike-png {
      display: none;
    }

    .report {
      width: 75% !important;
    }
  }

  .fourth-section-home {
    .text-success {
      text-align: center !important;
    }
  }

  .fifth-section-home {
    .blog-text {
      margin-top: 20px;
      margin-left: 0px !important;
    }

    .cards-blog {
      width: 100%;
      margin-top: 20px;
      margin-left: 0;
    }
  }

  .sixth-section-home {
    .cards-social-media {
      width: 100%;
    }
  }

  .seventh-section-home {

    .review-card {
      width: 100%;
      margin-left: 0;

    }
  }

  .wpp-btn {
    display: none;
  }
}
