.page-body {
  background-color: rgb(16,16,16);

}

.new_announce_banner {
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), image-url("new-announce-banner.jpg");
  background-size: cover;
  height:80vh;
  margin-top: -150px;
}



.announce-icons {
  width: 50px;
  height: 50px;
  filter: invert(86%) sepia(56%) saturate(0%) hue-rotate(288deg) brightness(108%) contrast(101%);
}

.banner-icons {
  width: 40px;
  height: 40px;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(26deg) brightness(114%) contrast(101%);
  text-shadow: 1px 1px 2px black;

}

.announce-banner-title {
  text-shadow: 1px 1px 2px black;
}


.frequent-questions {
  border-top: 1px solid transparent;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  border-radius: 3px;
  margin: 50px;
  padding: 20px;

}

.card-nf-services {
  transition: .5s ease;
  border-radius: 4px;
  padding: 20px;
  align-items: center;
  background-color: rgb(21, 21, 21);
}

.card-how-works {
  transition: .5s ease;
  border-radius: 4px;
  padding: 20px;
  align-items: center;
  background-color: transparent;
  width: 50%;
}
// .step {
//   margin-bottom: 0 !important;
//   font-size: 200px;
//   position: absolute;
//   opacity: 0.2;
// }

.accordion {
  border: 1px solid grey;
  border-radius: 3px;
  .accordion-body {
    background-color: rgb(16,16,16);

  }

  .accordion-button {
    background-color: rgb(16,16,16);
    color: $color-primary;
  }
}

.card-price {
  border: 1px solid $color-primary;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  background-color: transparent;
  // box-shadow: 0px 0px 20px 0px #00c4545e;
}
.new-announce-btns {
  display: contents;


}

@media (max-width: 765px) {

  .frequent-questions {
    margin: 0;
    width: 100%;

  }

  .new_announce_banner {
    height: 60vh;
    margin: auto;
    background-position: center;
    .announce-banner-title {
      padding-top: 100px;
    }

    .card-banner {
      .text-white {
        display: none;
      }
    }
  }
  .section-how-works {
    display: block !important;
  }

  .card-how-works {

    width: 100%;
  }
}


@media (max-width: 425px) {

  .frequent-questions {
    margin: 0;
    width: 100%;

  }

  .new_announce_banner {
    height: 80vh;
    margin: auto;
    background-position: center;
    .announce-banner-title {
      padding-top: 300px;
    }

    .card-banner {
      .text-white {
        display: none;
      }
    }
  }
  .section-how-works {
    display: block !important;
  }

  .card-how-works {

    width: 100%;
  }
}
