.card-questions {
  border: 1px solid $color-primary;
  border-radius: 3px;
  padding: 20px;
  align-items: center;
}

.new-product-react {
  margin: auto;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.select-answer {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  // Additional resets for further consistency
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 50%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color: gray;
  text-align: center;
}

select-answer::-ms-expand {
  display: none;
}
