.new-bike-react {
  margin: auto;
  background-color: rgb(14,14,14);


}

.card-bike-select {
  border: 1px solid $color-primary;
  border-radius: 5px;
  height: 400px;
  margin: 5px;
  background-color: rgb(21,21,21);
}
