.page-body {
  background-color: rgb(16,16,16);

}

.new_announce_banner {
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), image-url("new-announce-banner.jpg");
  background-size: cover;
  height: 80vh;
  margin-top: -150px;
}



.announce-icons {
  width: 50px;
  height: 50px;
  filter: invert(99%) sepia(72%) saturate(319%) hue-rotate(252deg) brightness(116%) contrast(100%);
}


.frequent-questions {
  border-top: 1px solid transparent;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  border-radius: 3px;
  margin: 50px;
  padding: 20px;

}

.accordion {
  border: 1px solid grey;
  border-radius: 3px;
  .accordion-body {
    background-color: rgb(16,16,16);

  }

  .accordion-button {
    background-color: rgb(16,16,16);
    color: $color-primary;
  }
}

.card-price {
  border: 1px solid $color-primary;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  background-color: transparent;
  // box-shadow: 0px 0px 20px 0px #00c4545e;
}
.new-announce-btns {
  display: contents;


}

@media (max-width: 765px) {

  .frequent-questions {

    margin: 0;
    width: 100%;

  }

  .new_announce_banner {
    height: 45vh;
    background-image: none;
    margin: auto;

  }

}
