.filters {
  // border: 1px solid $color-primary;
  border-radius: 5px;
  padding: 20px;
  position: sticky;
  top: 7rem;
  background-color: rgb(20, 20, 20);


  h5 {
    margin-bottom: 0 !important;
    font-size: 18px !important;
    color: #919991;
  }
}

.cards-products {
  border: none;
  border-radius: 5px;
  height: 380px;
  margin: 5px;
  background-color: rgb(20, 20, 20);

  .product-price {
    color: #009d43;
  }

  &:hover {
    h4 {
      color: inherit;
    }
    .product-infos-index {
      color: inherit !important;
    }
  }
}

.price-filter-text {
  font-size: 1rem;
}

.products-index {
  background-color: rgb(16,16,16);
}

.product-infos-index {
  color: #919991 !important;
  font-size: 21px !important;
}

.icon-card-index {
  width: 22px;
  height: 22px;
  filter:  invert(46%) sepia(99%) saturate(1234%) hue-rotate(110deg) brightness(97%) contrast(102%);
}

.attributes-filters {
  line-height: 0;
}
