.product-show {
 background-color: rgb(16,16,16);
 padding: 0 50px 50px 50px;
}

.card-product {
  // box-shadow: 0px 0px 20px 0px #00c4545e;
  border-radius: 3px;
  position: sticky;
  top: 7rem;
  max-height: 90vh;
  // border: 1px solid $color-primary;
  background-color: rgb(20, 20, 20);
  .fa-heart {
    color: $color-primary;
  }

  p {
    margin-bottom: .5rem !important;
  }
}

.technical-details {
  box-shadow: rgba(17, 17, 26, 0.3) 0px 1px 0px, rgba(17, 17, 26, 0.3) 0px 8px 24px, rgba(17, 17, 26, 0.3) 0px 16px 48px;
  border-radius: 3px;
  height: 40vh;
  padding: 20px;
}



.img-show {
  height: 100%;
  border-radius: 3px;
}

.btn-chat {
  padding: 5px;
  border: 1px solid $color-primary;
  border-radius: 30px;
  background-color: transparent;
  color: $color-primary;

  &:hover {
    color: white;
    background-color: $color-primary;
    // transition: 0.5 easy;
  }
}

.btn-order {
  padding: 5px;
  border: 1px solid $color-primary;
  border-radius: 30px;
  background-color: $color-primary;
  color: white;

  &:hover {
    color: $color-primary;
    background-color: transparent;
    // transition: 0.5 easy;
  }
}

.product-photos {
  box-shadow: rgba(17, 17, 26, 0.3) 0px 1px 0px, rgba(17, 17, 26, 0.3) 0px 8px 24px, rgba(17, 17, 26, 0.3) 0px 16px 48px;

}

.quantity-input {
  appearance: none;
  // Additional resets for further consistency
  background-color: transparent;
  border-color: $color-primary;
  padding: 0 1em 0 0;
  margin: 0;
  width: 50%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color: gray;
  text-align: center;
}

.quantity-input:focus {
  outline:none !important;
  box-shadow: none !important;
  border-color: $color-primary !important;
}
@media (max-width: 768px) {
  .product-show {
    padding: 15px;
    margin-top: 20px;
  }
  .main__menu,.card-product {
    margin-left: 4%;
  }

  .card-product {
    margin-top: 10%;
  }

  .main__menu .list-item .drop-menu .drop-item .list-item {
    height: auto;
    font: 235 22px 'Roboto', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
