.filters {
  border: 1px solid $color-primary;
  border-radius: 5px;
  padding: 20px;
  height: 85vh;
  position: sticky;
  top: 7rem;

  h5 {
    margin-bottom: 0 !important;
  }

}

.cards-products {
  border: 1px solid $color-primary;
  border-radius: 5px;
  height: 400px;
  margin: 5px;
  background-color: rgb(21,21,21);

  &:hover {
    box-shadow: 0px 0px 20px 0px #00c4545e;

    h4 {
      color: inherit;
    }
  }
}

.price-filter-text {
  font-size: 1rem;
}
