.cards-bikes-likes {
  border: none;
  border-radius: 5px;
  background-color: rgb(21,21,21);
  padding-bottom: 10px;
  .card-img {
    height: 275px !important;
    border-radius: 5px 5px 0 0;
    width: 100%;
  }

  &:hover {
    h4 {
      color: inherit !important;
    }
  }
}

.cards-products-likes {
  border: none;
  border-radius: 5px;
  background-color: rgb(21,21,21);
  padding-bottom: 10px;
  

  .card-img {
    height: 275px !important;
    border-radius: 5px 5px 0 0;
    width: 100%;
  }

  .product-price {
    color: #009d43;
  }

  &:hover {
    h4 {
      color: inherit;
    }
    .product-infos-index {
      color: inherit !important;
    }
  }
}
