<div class="page-wrapper" id="myGroup">

  <div class="page-mobile flex flex-column">
    <h1 class="text-success">Acesso NuflowShop</h1>
    <button class="btn btn-success mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#sign-in" aria-expanded="false" aria-controls="multiCollapseExample2">Fazer Login</button>
    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#sign-up" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Criar conta</button>
  </div>

  <div class="row pt-3">

    
  </div>
</div>

<%# <script>
  let $myGroup = document.getElementById('myGroup');
  $myGroup.on('turbo:load', 'show.bs.collapse','.collapse', function() {
      $myGroup.find('.collapse.in').collapse('hide');
  });

  $myGroup
</script> %>
