<% unless last_message.nil? %>
  <div class="row">
    <div class="col-12 d-flex align-items-center justify-content-between">
      <em class="last-message ms-3">
        <% if sender.id.eql?(Current.user.id) %>
          <%= "Você: #{last_message.content}".truncate(40) %>
        <% else %>
          <%= "#{sender.full_name.present? ? sender.full_name : sender.email}: #{last_message.content}".truncate(40) %>
        <% end %>
      </em>
      <%= content_tag(:em, class:"last-message-time me-3",
                data: {
                time: last_message.created_at.to_i
                }) do %>
        <em class="last-message">
          <%= "#{time_ago_in_words(last_message.created_at)} atrás"%>
        </em>
      <% end %>
    </div>
  </div>
<% end %>
