<div  data-controller="notification">
  <div data-notification-target="counter">
    <% unread = chat.notifications_as_chat.where(type: MessageNotification.name,
                                                recipient: current_user).unread %>
  </div>
  <% if unread.count > 0 %>
    <div class="me-3">
      <%= "+#{unread.count}" %>
    </div>
  <% end %>
</div>
