<% if chat.id.eql?(current_user.current_chat) %>
  <% isActive = 'active' %>
<% else %>
  <% isActive = '' %>
<% end %>
<div class="chat">
  <li class="list-group-item chat_list_item <% isActive %>">
    <div class="row">

    </div>
    
  </li>
</div>
