<% if chat.id.eql?(current_user.current_chat) %>
  <% isActive = 'active' %>
<% else %>
  <% isActive = '' %>
<% end %>
<div class="chat">
  <li class="list-group-item chat_list_item <% isActive %>">
    <div class="row">

    </div>
    <%= turbo_frame_tag [dom_id(chat), "last_message"] do %>
      <%= render "chats/last_message",
        chat: chat,
        user: user,
        last_message: last_message %>
    <% end %>
  </li>
</div>
