<div id="chatroom_container" class="container p-5">
  <div id="side_panel" class="col-md-4 col-sm-4">
    <h5> Hi <%= @current_user.email %> </h5>
    <h4> Users </h4>
      <%= render @users %>
    <h4> Rooms </h4>

  </div>
</div>
