<div class="container my-5">
  <h3 class="text-center text-success">TERMOS E CONDIÇÕES DE USO GERAIS NUFLOW</h3>
  <hr class="m-auto terms-line">
  <p class="text-center text-success fs-24 mt-2">Market NuFlow</p>
  <p>Estes Termos e Condições Gerais de Uso aos Serviços de Intermediação (“Termos de Uso”) destinam-se a estabelecer a relação contratual entre <strong>NUFLOW SHOP LTDA.</strong> (“NuFlow” ou “Prestadora de Serviços”), pessoa jurídica de direito privado, inscrita no CNPJ sob o nº 38.559.372/0001-25, com sede na Av. José do Patrocínio Pontes, 1354, Bairro Mangabeiras, Belo Horizonte/MG, CEP 30210-090, com os usuários de nossos serviços pela plataforma web site, mobile e outros canais de contato da NuFlow (“Usuários”).</p>


  <p><strong class="text-success mt-2">1. A NUFLOW</strong></p>
  <p class="ms-1">1.1. A NuFlow fornece diversos serviços dentro de sua plataforma, sendo os principais os serviços de: anúncio e intermediação de compra e venda de materiais esportivos relacionados a ciclismo e os de anúncio e intermediação de compra e venda de ingressos e passes recorrentes para utilização de espaços compartilhados voltados para a prática esportiva, eventos competitivos, eventos de confraternização, feiras e exposições, tudo em Plataforma própria.</p>
  <p class="ms-1">1.2. Os Usuários, dentro da Plataforma, encontram os seguintes domínios: Nuflow Shop <a href="https://www.nuflowshop.com.br" target="_blank">(www.nuflowshop.com.br)</a>  e Nuflow Pass <a href="https://www.nuflowpass.com.br" target="_blank">(www.nuflowpass.com.br)</a> (“Plataformas”).</p>
  <p class="ms-1">1.3. A aquisição de bicicletas e produtos se dá diretamente entre os usuários ou, nos casos de assessoramento pela Nuflow, pode ocorrer através de um link de pagamento externo.</p>


  <p><strong class="text-success">2. DEFINIÇÕES E INTERPRETAÇÃO</strong></p>
  <p class="ms-1">2.1. Para os efeitos destes Termos de Uso, os vocábulos a seguir arrolados, entre aspas e sublinhados, deverão remeter ao significado que lhes é atribuído abaixo: <br>
  <p class="ms-3">“Interessados”: visitantes das Plataforma da NuFlow que não realizam o cadastro.</p><br>
  <p class="ms-3">“Usuários”: pessoa física ou jurídica que se cadastra e/ou utiliza as Plataformas da NuFlow, esta definição se subdivide em:</p><br>
  <p class="ms-4">“U. Vendedores”: pessoa física ou jurídica, cadastrada nas Plataformas da NuFlow que desejam anunciar/ vender produtos e/ou bicicletas, além de serviços.</p><br>
  <p class="ms-4">“U. Compradores”: pessoa física ou jurídica, cadastrada ou não nas Plataformas da NuFlow que desejam comprar produtos e/ou bicicletas, além de serviços.</p><br>
  <p class="ms-3">“Plataforma”: conjunto de software, desenvolvido, gerido e detido pela NuFlow, disponível em meio digital (internet e lojas de Aplicativos – Google Play e Apple Store) para acesso dos Usuários, cuja disponibilização para o público em geral fica a exclusivo critério da NuFlow.</p><br>
  <p class="ms-3">“Anúncio”: significa toda e qualquer oferta de produto ou serviço veiculada nas Plataformas da NuFlow, seja por ela mesmo, por seus parceiros ou pelos U.Vendedores.</p><br>
  <p class="ms-3">“Meio de Pagamento”: significam as formas de pagamento atualmente aceitas pela NuFlow, hoje sendo gateway de pagamento, link externo, transferência bancária e PIX.</p><br>
  <p class="ms-3">“Frete”: significa a forma de envio dos produtos para os destinatários finais, atualmente é responsabilidade do U.Vendedor.</p><br>
  <p class="ms-3">“Produtos certificados”: produtos anunciados por vendedores e lojistas parceiros da Nuflow que contam com serviços de assessoramento na venda.</p><br>

  <p class="ms-1">2.2. As seguintes regras deverão ser observadas na interpretação destes Termos de Uso: (a) os cabeçalhos e títulos dos capítulos e das cláusulas contidos nestes Termos de Uso constituem meras referências e são irrelevantes para efeito de interpretação ou análise dos presentes Termos de Uso, não afetando, sob qualquer pretexto, o significado, a análise ou a interpretação de tudo o quanto aqui disposto; (b) os termos “incluindo”, “inclusive”, “inclui”, “incluído” e suas derivações e termos análogos serão interpretados como se estivessem acompanhados pela frase “entre outros” ou “não limitados a”, introduzindo assim uma enumeração não exaustiva, mas meramente exemplificativa; (c) as referências a quaisquer documentos ou instrumentos incluem todos os respectivos aditamentos, alterações, substituições, consolidações e adições, salvo expressa disposição em contrário; (e) as referências a disposições legais serão interpretadas como referências a tais disposições e suas respectivas emendas, ampliações, consolidações, reedições, alterações e/ou normas que possam vir a substituí-las e/ou revogá-las, de tempos em tempos, bem como as disposições das quais elas se originam e/ou se relacionam incluindo regulamentos, instrumentos ou outras normas legais a elas subordinados; (f) todas as referências a Pessoas, às Partes ou à Sociedade incluem seus sucessores, beneficiários e cessionários autorizados; (g) os significados atribuídos aos termos definidos nestes Termos de Uso serão aplicáveis a referidos termos quando usados no singular e no plural e independentemente de gênero.</p>

  <p><strong class="text-success">3. INTERESSADOS E CADASTRAMENTO DE USUÁRIOS</strong></p>
  <p class="ms-1">3.1 Os Interessados acessam a Plataforma livremente, caso queiram utilizar os serviços ofertados pela NuFlow deverão fornecer as informações e dados requisitados para efetivação do cadastro.</p>

  <p class="ms-3">3.1.1 Os Usuários se comprometem a prestar as informações prestadas de forma precisa e verdadeira, bem como a mantê-las sempre atualizadas, sendo autorizado à NuFlow se valer de todos os meios legais para confirmar a veracidade desses dados.</p>
  <p class="ms-3">3.1.2 Os Usuários declaram, pelo simples ato de envio das informações à NuFlow, que todas elas são precisas e verdadeiras, isentando-a de qualquer responsabilidade decorrente de dados incorretos, inexatos ou falsos fornecidos pelos Usuários. </p>
  <p class="ms-3">3.1.3 O Usuário que enviar à NuFlow fotos, imagens e/ou menções, certifica, garante e concorda que possui os respectivos direitos autorais e que permite a utilização desse material por tempo indeterminado, respeitadas as legislações vigentes, sem que lhe seja devido indenização por este uso. </p>

  <p class="ms-1">3.2. Encaminhadas as informações e devidamente aprovadas pela NuFlow, o Usuário receberá a confirmação no endereço eletrônico por ele indicado resultando na criação de login e senha para os próximos acessos. </p>

  <p class="ms-3">3.2.1. O login e senha criados são personalíssimos, intransferíveis e de uso exclusivo do Usuário, vedado a este repassá-los a terceiros, sob pena de, além das perdas e danos eventualmente cabíveis, imediata exclusão da Plataforma. </p>
  <p class="ms-3">3.2.1. O Usuário assume integral responsabilidade pela guarda e sigilo do login e senha, assim como a obrigação de impedir e/ou evitar que sejam utilizados por terceiros, isentando a NuFlow de quaisquer responsabilidades decorrentes do uso indevido do cadastro, ainda que disso resulte em prejuízos para o Usuário. </p>
  <p class="ms-3">3.2.1. A NuFlow orienta o Usuário a alterar a senha na periodicidade mínima de 60 (sessenta) dias, assim como evitar senhas que facilitem o descobrimento por terceiros (datas de aniversário, números sequenciais, número de telefone etc.) e a prezar pela inclusão de insígnias, como sinas gráficos, símbolos e mescla de números e letras, para criar mais rígidos padrões de segurança. </p>

  <p class="ms-1">3.3. Devidamente cadastrado, o Usuário poderá usufruir dos serviços ofertados pela NuFlow, devendo sempre observar as regras e premissas estabelecidas neste documento e na legislação brasileira.</p>
  <p class="ms-3">3.3.1. Fica expressamente proibido anunciar ou vender produtos e serviços que tenham sua comercialização proibida e/ou controlada no território brasileiro, bem como, mas não se limitando a (i) armas de fogo, armas brancas ou similares, pólvora ou material explosivo, narcóticos, tóxicos e qualquer sorte de drogas ilegais; (ii) medicamentos, qualquer tipo de drogas ou produtos aos quais se atribua efeitos terapêuticos de qualquer natureza; (iii) produtos roubados ou furtados, (iv) órgãos humanos e/ou de animais, no todo ou em parte, (v)moedas e cédulas falsificadas, (vi) produtos de contrabando, falsificados ou adulterados, bem como cópia ou réplica de produtos de terceiros, (vii) ações de empresas negociadas em Bolsa de Valores, bilhetes de loteria, listas de correio ou bases de dados pessoais, (viii) produtos relacionados à prostituição ou similares, material pornográfico, obsceno ou contrário a moral e os bons costumes, (ix) cigarros e outros produtos derivados do tabaco, (x) aparelhos ativos, eletroestimuladores, aparelhos e produtos para utilização em educação física, embelezamento e correção estética, que não estejam devidamente registrados e aprovados perante a Agência Nacional de Vigilância Sanitária e demais órgãos reguladores, (xi) CDs que contenham música em formato MP3, (xii) produtos que promovam a violência e/ou a discriminação baseada em questões de raça, sexo, religião, nacionalidade, orientação sexual ou de qualquer outro tipo, ou (xiii) bebidas em geral e produtos alimentícios.</p>
  <p class="ms-3">3.3.2. O Usuário Vendedor obriga-se ainda a não comercializar produtos e/ou serviços que violem leis de proteção de software, direitos autorais, patentes, marcas, modelos e desenhos industriais, cópias e/ou arquivos de backup, licença, programas acadêmicos e/ou desenvolvidos para alguma entidade educacional, ou segredos industriais, ou produtos/serviços que embargados ou afetados por alguma restrição de qualquer espécie quanto ao seu uso, exploração ou transferência de domínio ou posse.</p>

  <p class="ms-1">3.4. Os Usuários estão cientes que, observadas as disposições da Política de Privacidade da NuFlow e da Lei nº 13.709/2018 (“Lei Geral de Proteção de Dados” ou “LGPD”), todos os dados e informações fornecidos no cadastro podem ser verificados, monitorados e intercambiados em sistemas externos.</p>
  <p class="ms-3">3.4.1. Todas as informações que possam identificar o Usuário individualmente, direta ou indiretamente, incluindo suas informações de cadastro, dados armazenados em cookies e informações a respeito do seu acesso e utilização da Plataforma (incluindo informações de Protocolo de Internet) serão utilizadas de acordo com as finalidades constantes na Política de Privacidade e demais Políticas e tratadas de acordo com a LGPD.</p>

  <p><strong class="text-success">4. USO DA PLATAFORMA PELOS USUÁRIOS</strong></p>

  <p class="ms-1">4.1. Efetuado o cadastro pelo Usuário na forma descrita no tópico anterior e criados o login e senha, será liberado o seu acesso à Plataforma para anunciar e vender produtos e serviços, a qual deverá ser utilizada de acordo com as previsões destes Termos de Uso e da Política de Privacidade.</p>
  <p class="ms-3">4.1.1. Os Usuários se comprometem a observar os propósitos estabelecidos neste Termo e nas leis brasileiras, especialmente as relacionadas à Anticorrupção e Prevenção à Lavagem de Dinheiro.</p>


  <p class="ms-1">4.2. Dentro da Plataforma, o Usuário, mesmo que ainda não cadastrado, terá acesso aos serviços e produtos ofertados pela NuFlow, por seus parceiros e pelos U.Vendedores.</p>

  <p class="ms-1">4.3. A NuFlow fornece, dentro da Plataforma, canal de comunicação digital (“SAC”) e central de perguntas frequentes (“FAQ”), por meio do qual intenciona resolver dúvidas e quaisquer situações dos Usuários de forma eficiente e amigável, podendo ou não direcionar a demanda para contato humano telepresencial.</p>
  <p class="ms-3">4.3.1. Os Usuários se comprometem a envidar todos os esforços para resolverem a demanda porventura existente dentro do SAC e/ou a partir da leitura da FAQ.</p>

  <p class="ms-1">4.4. Os Usuários comunicarão entre si para efetivar a transação, sendo assim, devem sempre respeitar uns aos outros, não podendo cometer ofensas e atos que violam direitos das outras partes</p>
  <p class="ms-1">4.5. Os Usuários se comprometem a utilizar a Plataforma de acordo com as boas práticas e em observância às normas jurídicas aplicáveis, obrigando-se a adotar postura proba, digna e pautada na boa-fé e nos bons costumes. </p>
  <p class="ms-1">4.6. O U.Comprador deverá:</p>
  <p class="ms-3">(i) ter capacidade legal para negociar o produto e/ou serviço;</p>
  <p class="ms-3">(ii) após a compra de um item anunciado através das ferramentas das Plataformas, contatar a equipe da NuFlow, esclarecendo as dúvidas por ventura existentes;</p>
  <p class="ms-3">(iii) entrar em contato com a NuFlow, em caso de dúvidas sobre entrega, formas de pagamento ou dúvidas em relação a este Termo; e</p>
  <p class="ms-3">(iv) efetuar o pagamento do preço pelas formas disponibilizadas nas Plataformas e confirmar o recebimento do produto (no caso da compra de produtos físicos).</p>

  <p class="ms-1">4.7. O U.Vendedor deverá:</p>
  <p class="ms-3">(i) ter capacidade legal para negociar o produto e/ou serviço;</p>
  <p class="ms-3">(ii) entrar em contato com a equipe da NuFlow, esclarecendo as dúvidas porventura existentes; e</p>
  <p class="ms-3">(iii) reservar o produto (no caso da compra de produtos físicos) para entrega, conforme condições previstas neste Termo e acordada com o U.Comprador</p>

  <p class="ms-1">4.8. O U.Vendedor é responsável pela emissão da nota fiscal dos produtos e/ou serviços vendidos. Na ausência de nota fiscal, ele é responsável pelas informações preenchidas na declaração de conteúdo para envio através dos Correios ou transportadora.</p>
  <p class="ms-3">4.8.1. Excetua-se à regra descrita na Cláusula 4.8, se os Usuários optarem pelo assessoramento da NuFlow para produtos certificados, a Nota Fiscal referente aos serviços de intermediação prestados, esta que será emitida pela própria NuFlow no momento de efetivação da compra e venda.</p>
  <p class="ms-3">4.8.2. Ambos os Usuários, Compradores e Vendedores, se disponível, podem contratar o assessoramento da NuFlow para produtos certificados, ficando cada um responsável pelo pagamento do seu próprio serviço.</p>

  <p class="ms-1">4.9. Nos casos em que a NuFlow tomar ciência de falecimento e/ou incapacidade do Usuário, eventual saldo em conta somente será liberado para transferência quando houver a apresentação de documento de representação público que autorize a respectiva movimentação. </p>
  <p class="ms-1">4.10. O U.Vendedor declara ser possuidor do produto ofertado e que este está disponível para entrega imediata. Caso não possua o produto anunciado para entrega imediata, cabe ao U.Vendedor suspender/desativar temporariamente o anúncio até que o produto esteja disponível em seu estoque para pronta entrega. </p>
  <p class="ms-1">4.11. O U.Vendedor será o exclusivo responsável pelo não cumprimento da entrega do produto no prazo acordado com o U.Comprador.</p>
  <p class="ms-1">4.12. O U.Comprador declara ter conhecimento que os produtos anunciados podem ter estoques que são limitados e que, em algumas ocasiões, devido a causas dificilmente controláveis, como problemas nos sistemas informáticos e operações simultâneas, é possível que o produto não esteja disponível depois de ter sido realizado o pedido. Neste caso, o Usuário será notificado pela equipe de atendimento sobre a anulação de seu pedido, sendo reembolsado pelos valores eventualmente já pagos.</p>
  <p class="ms-1">4.13. Pagamento por Anúncio. Cada U.Vendedor pagará um valor unitário ou mensalidade a ser determinado pela NuFlow por anúncio que veicular na plataforma, dependendo da quantidade de anúncios a serem veiculados na plataforma.</p>


  <p><strong class="text-success mt-2">5. PRODUTO CERTIFICADOS E ASSESSORAMENTO DA VENDA PELA NUFLOW</strong></p>
  <p class="ms-1">5.1. Comissão. Em contraprestação aos serviços de intermediação prestados pela NuFlow na venda de produtos certificados e/ou serviços de terceiros ou dos U.Vendedores será devido pagamento de comissão, conforme bases delimitadas no Contrato firmado entre as Partes ou em Termo específico.</p>
  <p class="ms-1">5.2. Pagamento da Comissão. O U.Vendedor ficará responsável pelo pagamento da comissão quando a compra e venda for efetivada. Esse valor, em caso de pagamento direto para a NuFlow, poderá ser retido antes do repasse do valor devido ao U.Vendedor.</p>
  <p class="ms-3">5.2.1. Nos casos de compra e venda, em que o pagamento ocorre diretamente para a NuFlow, o repasse para o U.Vendedor ocorrerá após ultrapassados 7 (sete) dias corridos do recebimento do produto pelo U.Comprador ou após 14 (quatorze) dias corridos da data de confirmação da compra, ficando a escolha a cargo da equipe da NuFlow.</p>


  <p class="ms-1">5.3. Frete. Após finalizada a transação, o U.Vendedor ficará responsável pelo envio do produto ao U.Comprador, portanto deve concordar com os termos da transportadora e/ou ferramenta de contratação (Melhor Envio ou Frenet).</p>
  <p class="ms-3">5.3.1. A NuFlow recomenda que o envio dos produtos seja feito por transportadora previamente aprovada pela NuFlow.</p>
  <p class="ms-3">5.3.2. Assim como o transporte, a contratação de seguro para o transporte do produto é obrigação do U.Vendedor.</p>



  <p class="ms-1">5.4. Troca e Devolução. O U.Vendedor obriga-se a receber a devolução do produto em até 7 dias corridos da data de recebimento do produto pelo U.Comprador.</p>
  <p class="ms-3">5.4.1. Caso o U.Comprador desejar trocar ou devolver o produto adquirido, deverão ser observadas as seguintes regras:</p>
  <p class="ms-4">(i) Para troca, devolução e/ou solicitação de reembolso o produto não poderá ter sido utilizado, ou seja, deve ser devolvido na mesma condição de quando recebido.</p>
  <p class="ms-4">(ii) O U.Comprador tem o prazo de 07 (sete) dias corridos, contados a partir da data de recebimento do produto, para solicitar a devolução do produto, independente do motivo.</p>
  <p class="ms-4">(iii) O U.Comprador, em caso de produtos danificados ou divergentes das qualificações dispostas no anúncio, com exceção da venda de bicicletas, poderá trocar por outro produto de similar valor.</p>

  <p class="ms-3">5.4.2. Para efetuar o procedimento de devolução previsto na cláusula anterior, o U.Comprador deverá enviar uma solicitação à equipe de atendimento da NuFlow. Após recebida a solicitação a equipe NuFlow irá avaliar o pedido e responderá à solicitação com as instruções pertinentes em até 05 (cinco) dias.</p>
  <p class="ms-3">5.4.3. Caso o U.Comprador, por ocasião da compra, opte encontre alguma divergência no produto enviado, ele pode recusar o recebimento do produto, e sendo assim, o usuário vendedor não recebe o valor da venda. O custo da logística reversa ficará com o U.Vendedor.</p>
  <p class="ms-3">5.4.4. O U.Comprador terá 03 (três) dias úteis para efetuar o envio do produto, contados a partir da data da autorização da equipe de atendimento da NuFlow que enviará o código de postagem ao U.Comprador, sendo este responsável por informar ao site o código de rastreio do objeto.</p>
  <p class="ms-3">5.4.5. Em caso de devolução e/ou troca seja de bicicleta ou de outros produtos por vontade exclusiva do U.Comprador ele deverá arcar com os custos de frete relativos à devolução e entrega da nova mercadoria.</p>
  <p class="ms-3">5.4.6. A NuFlow poderá, quando solicitada a devolução do produto pelo U.Comprador, não autorizar a liberação do pagamento ao U.Vendedor, tendo em vista a necessidade de devolução do valor pago pelo produto ao U.Comprador.</p>
  <p class="ms-3">5.4.7. O reembolso de uma transação feita via cartão de crédito será creditado na fatura próxima ou subsequente do comprador, nos casos de transferência bancária e PIX, o reembolso deverá ser feito também através do gateway de pagamento, mas poderá ser direto na conta bancária do comprador, desde que ele seja o titular da conta bancária de destino (a conta deverá ter o mesmo CPF informado no pedido).</p>



  <p><strong class="text-success mt-2">6. PRIVACIDADE E PROPRIEDADE INTELECTUAL</strong></p>
  <p class="ms-1">6.1. Ao ser cadastrado na Plataforma, o Usuário concorda em ficar vinculado à Política de Privacidade da NuFlow (“Política de Privacidade”), disponível na Plataforma.</p>
  <p class="ms-3">6.1.1. Ao utilizar a Plataforma, o Usuário concorda que a NuFlow terá acesso a certas informações pessoais. A Política de Privacidade esclarece quais informações podem ser acessadas e como elas serão utilizadas e armazenadas.</p>
  <p class="ms-3">6.1.2. A NuFlow protege os direitos de privacidade dos Usuários, nos termos da legislação aplicável, dos Termos de Uso e da Política de Privacidade.</p>




  <p class="ms-1">6.2. Todas as informações e conteúdos disponíveis na Plataforma, inclusive o software e demais inteligência artificial desenvolvidas, são protegidos por leis de direitos autorais e é vedada a sua utilização de forma diversa da estabelecida nestes Termos de Uso.</p>
  <p class="ms-3">6.2.1. Imagens de pessoas ou artes, fotos particulares, exibidas na Plataforma, são de propriedade da NuFlow e fica proibido o uso dessas imagens pelo Usuário ou por terceiros.</p>
  <p class="ms-3">6.2.2. Submetem-se à mesma regra de proteção os domínios, extensões de e-mails da NuFlow, ficando vedado criações ou vinculações de menções com as palavras NuFlow, ou mesmo similares, que possam causar confusão a outros clientes ou mesmo ao quadro colaborativo da NuFlow.</p>


  <p class="ms-1">6.3. É concedida aos Usuários uma licença limitada, individual, não exclusiva e intransferível para uso dos serviços da NuFlow, e não para revenda ou distribuição posterior da Plataforma. O direito de usar a Plataforma e serviços está limitado às condições estabelecidos nestes Termos de Uso. É permitida a divulgação da Plataforma em suas redes sociais ou canais de propaganda.</p>
  <p class="ms-1">6.4. A NuFlow é a única detentora dos direitos e propriedade intelectual sobre a marca e dos elementos componentes da Plataforma e seus serviços, incluindo, mas sem se limitar, softwares, códigos, domínios, tecnologias, textos, fotografias, vídeos, interfaces visuais, recursos interativos, gráficos, design, logo, marca, patentes, invenções ou outros elementos que constituam propriedade intelectual ou industrial.</p>
  <p class="ms-1">6.5. É vedado modificar, reproduzir, republicar, criar, baixar, transmitir, distribuir, alugar, emprestar, vender, ceder, licenciar, sublicenciar, fazer engenharia reversa, exibir publicamente ou criar trabalhos derivados baseados na Plataforma e seus serviços no todo ou em parte, exceto quando expressamente autorizado por escrito pela NuFlow. Além disso, a NuFlow não concede nenhum direito expresso ou implícito além dos dispostos nestes Termos de Uso.</p>




  <p><strong class="text-success mt-2">7. MODIFICAÇÕES DOS TERMOS DE USO</strong></p>
  <p class="ms-1">7.1. Periodicamente, podem ser feitas alterações nestes Termos de Uso, visando a melhoria dos serviços prestados.</p>
  <p class="ms-3">7.1.1. Os termos alterados entrarão em vigência 15 (quinze) dias após a sua publicação na Plataforma. Os Usuários poderão, em um prazo de 5 (cinco) dias após a publicação da nova redação, comunicar a NuFlow, via e-mail, eventuais discordâncias com a alteração.</p>
  <p class="ms-3">7.1.2. Havendo divergência manifestada dentro do prazo acima fixado, o vínculo contratual entre as partes será desfeito, sem prejuízo de prestações pendentes.</p>
  <p class="ms-3">7.1.3. A continuidade na utilização dos serviços da NuFlow, após as alterações destes Termos de Uso, implicará a concordância tácita com a nova redação.</p>

  <p class="ms-1">7.2. A nulidade ou invalidade de qualquer das disposições destes Termos de Uso não prejudicará a validade e eficácia das demais cláusulas. Caso alguma decisão judicial em caráter definitivo pronuncie-se sobre a invalidade ou ineficácia de qualquer das disposições destes Termos de Uso as partes deverão substituir a regra inquinada por outra que, sendo lícita, permita sejam alcançados, na maior extensão possível, os resultados práticos e econômicos inicialmente visados.</p>
  <p class="ms-1">7.3. A NuFlow pode, no todo ou em parte, transigir, renunciar ou adiar, em sua absoluta discrição, qualquer direito que lhe é concedido nestes Termos de Uso, sem de modo algum prejudicar ou afetar os seus direitos aqui contidos.</p>
  <p class="ms-1">7.4. As Partes reconhecem que: (i) o não exercício, por qualquer delas, ou o atraso no exercício de qualquer direito que lhes seja assegurado por este instrumento ou por lei não constituirá novação ou renúncia de tal direito, nem prejudicará o seu eventual exercício, a qualquer tempo; (ii) a renúncia, por qualquer das partes, de algum dos direitos ou poderes previstos nestes Termos de Uso somente será válido se formalizado por escrito.</p>


  <p><strong class="text-success mt-2">8. LIMITAÇÃO DE RESPONSABILIDADE</strong></p>
  <p class="ms-1">8.1. A NuFlow não se responsabiliza por eventuais conflitos, erros, indisponibilidades e perda de dados decorrentes da utilização da Plataforma. A NuFlow não tem e não terá qualquer responsabilidade pela exclusão, perda, erro de armazenamento, interrupções ou falha de transmissão ou acesso à Plataforma, bem como poderá impor limites ao seu uso. Os Usuários declaram que concordam em isentar a NuFlow, suas empresas controladas, controladoras ou coligadas, bem como seus respectivos administradores, prepostos, funcionários e consultores de quaisquer responsabilidades, demandas, ações judiciais ou extrajudiciais, pedidos ou solicitações de terceiros decorrentes da utilização da Plataforma, incluindo despesas processuais e honorários advocatícios. Declara ainda concordar com o desconto em sua conta pagamento para a reparação de eventuais prejuízos ou danos que venha causar à NuFlow e/ou terceiros.</p>
  <p class="ms-1">8.2. Observada a limitação de responsabilidade prevista nestes Termos de Uso, com a qual o Usuário concorda em aceitá-la, a responsabilidade da NuFlow por outros atos ou fatos causadores de danos limitar-se-ão aos danos diretos comprovadamente sofridos pelos Usuários por ato ilícito exclusivo da NuFlow. A NuFlow não poderá ser responsabilizada por danos indiretos, lucros cessantes, perda de dados ou de receitas decorrentes de falhas de funcionamento da Plataforma.</p>




  <p><strong class="text-success mt-2">9. DISPOSIÇÕES GERAIS</strong></p>

  <p class="ms-1">9.1. Esses Termos de Uso constituem documento jurídico integral e perfeito para regular a relação, e poderá ser modificado livremente e a qualquer tempo pela NuFlow, observadas as regras descritas no tópico anterior.</p>
  <p class="ms-1">9.2. Não é permitido que uma mesma pessoa tenha mais de um cadastro. Se a NuFlow detectar, por meio do sistema de verificação de dados, cadastros duplicados, poderá inabilitar definitivamente todos os cadastros.</p>
  <p class="ms-1">9.3. A NuFlow poderá advertir, suspender, bloquear ou cancelar, temporária ou definitivamente, a conta de um Usuário, além de tomar as medidas legais cabíveis, a qualquer momento, por qualquer motivo, a seu único critério, bem como se: (1) o Usuário não cumprir qualquer dispositivo destes Termos de Uso; (2) praticar atos fraudulentos, dolosos ou com evidente má-fé, a fim de obter vantagem indevida; (3) identificar atos do Usuário realizados com a finalidade de induzir ao erro para obter vantagem manifestamente ilícita; (4) não puder ser verificada a identidade do Usuário ou qualquer informação fornecida por ele seja inverídica; (5) alguma atitude do Usuário tiver o condão de gerar danos a terceiros ou à NuFlow; (6) o Usuário divulgar ou postar conteúdo em desacordo com a legislação vigente, com os bons costumes, ou ofensivo ao direito de qualquer pessoa; (7) o Usuário adotar, no âmbito da relação com a NuFlow, bem como seus representantes e funcionários, condutas desrespeitosas, ofensivas, difamatórias, obscenas, ilegais ou realizar ameaças; e (8) praticar SPAM ou qualquer tipo de atitudes contrárias às boas práticas da internet e das redes sociais.</p>
  <p class="ms-1">9.4. Se houver algum conflito de informações constantes neste contrato com informações constantes em outros documentos, prevalecerão sempre os termos deste contrato, que é o documento formal eleito para reger a relação.</p>
  <p class="ms-1 mb-3">9.5. Este instrumento será regido e interpretado de acordo com a legislação brasileira e, para dirimir todos os assuntos referentes à interpretação e cumprimento destes Termos de Uso, as partes elegem o Foro Central Cível da Comarca de Belo Horizonte/MG, com renúncia expressa a qualquer outro.</p>
