<div class="">
  <div class="container">
    <react
      data-component="BikeForm"
      data-bike="<%= @bike.to_json %>"
      data-bike-id="<%= @bike.id.to_json %>"
      data-category-id="<%= @bike.category.id  %>"
    /></react>
  </div>
</div>
