<div class="">
  <div class="">
    <react data-component="Bike"
      data-bike-id="<%= @bike.id.to_json %>"
      data-user-present="<%= current_user.present? %>"
      data-current-user="<%= current_user.id if current_user.present? %>"
    />
  </div>
</div>
