///////////////////////  WPP BTN ON BOTTOM RIGHT

.wpp-btn {
  position: sticky;
  bottom: 30px;
  margin-left: 95%;

  .fa-whatsapp-square {
    font-size: 50px;
  }
}

///////////////////////  CATEGORIES NAVBAR DROPDOWN BTN/

.drop-btn {
  background-color: transparent;
  color: white;
  text-decoration: none;
  border: none;
  font-family: "Bebas Neue", "Helvetica", "sans-serif";
  font-weight: lighter !important;
  font-size: 22px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.95);
  width: 600px;
  border: 1px solid $color-primary;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content-user {
  width: 120px !important;
}


.dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-weight: normal;
}

.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: $color-primary !important;
}

.dropdown:hover .dropdown-content {display: flex;}



//////////////////////// BTN SOCIAL SECTION homepage

.btn-social {
  background-color: rgba(0, 0, 0, 0.5);;
  border: 1px solid white;
  font: inherit;
  line-height: 1;
  margin: 0.22em;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;

  &:hover {
    background-color: #fff;
    border-color: transparent;
    color: #444;
  }
}


//////////////////////// PROFILE PAGE

.links-profile {
  text-decoration: none;

  .fa-heart {
    color: $color-primary;
    font-size: 18px;
  }


}

.links-profile:hover {
  color: white !important;
  .fa-heart {
    color: white !important;
  }
}

.edit-modal {
  background-color: transparent;
  border: none;
  color: $color-primary;
}

.modal {
  margin-top: 6rem;
  border-radius: 3px;
}


//////////////////////////////ADVERTISEMENTS

.btn-invoice {
  background-color: transparent;
  border-radius: 4px;
  color: $color-primary;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 1px solid $color-primary;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    color: white;
    border-color: white;
  }
}

.disable-btn-form{
  cursor: not-allowed;
  pointer-events: none;
}

.fa-check, .fa-times {
  font-size: 1rem;
}


///////////Admin

.review-btn {
  color: #4444d1;
  .fa-search {
    color: #4444d1;
  }
  &:hover {
    color: white !important;
    .fa-search {
      color: white !important;


    }
  }
}

.like-btn {
  border: none;
  background-color: transparent;
  &:hover {
    .fa-heart {
      color: red !important;

    }
  }
}

.dislike-btn {
  .fa-heart {
    color: red !important;

  }

  &:hover {
    .fa-heart {
      color: rgba(16, 16, 16, 0.9) !important;

    }
  }

}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: $color-primary;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 2.25rem;
  background-color: transparent;

}
