////////////////////////// CARD CATEGORIES ON HOVER FLICKER AND BLINK

.card {
  background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,1)) !important;
  height: 10rem;
  box-shadow: rgba(17, 17, 26, 0.3) 0px 1px 0px, rgba(17, 17, 26, 0.3) 0px 8px 24px, rgba(17, 17, 26, 0.3) 0px 16px 48px;
  transition: .5s ease;
  position: relative;
  overflow: hidden;

  .card-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: .6 !important;
  }

  .flicker {
    color: #0ba94a;
  }

  .card-title {
    margin: auto;
    opacity: .7;
    position: relative;
    z-index: 2;
  }

  &:hover {
    transform: scale(1.05);

    .card-bg {
      opacity: .9 !important;
    }

    .card-title {
      color: $color-primary;
      opacity: 1;
      z-index: 1000;
      letter-spacing: 2;
      color: #09ff4f;
      text-shadow: 0 0 0.6rem #c7f1d3, 0 0 1.5rem #22e058,
        -0.2rem 0.1rem 1rem #00c336, 0.2rem 0.1rem 1rem #00c336,
        0 -0.5rem 2rem #009c2b, 0 0.5rem 3rem #009c2b;
      animation: shine 2s forwards, flicker 3s infinite;
    }
    .flicker {
      animation: shine 2s forwards, blink 3s 2s infinite;
      color: #09ff4f;
    }
  }

  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #09ff4f;
      text-shadow: 0 0 0.6rem #c7f1d3, 0 0 1.5rem #22e058,
        -0.2rem 0.1rem 1rem #00c336, 0.2rem 0.1rem 1rem #00c336,
        0 -0.5rem 2rem #009c2b, 0 0.5rem 3rem #009c2b;
      animation: shine 2s forwards, flicker 3s infinite;
    }
    28%,
    33% {
      color: #22e058;
      text-shadow: none;
    }
    82%,
    97% {
      color: #00c336;
      text-shadow: none;
    }
  }

  @keyframes flicker {
    from {
      opacity: 1;
    }

    4% {
      opacity: 0.9;
    }

    6% {
      opacity: 0.85;
    }

    8% {
      opacity: 0.95;
    }

    10% {
      opacity: 0.9;
    }

    11% {
      opacity: 0.922;
    }

    12% {
      opacity: 0.9;
    }

    14% {
      opacity: 0.95;
    }

    16% {
      opacity: 0.98;
    }

    17% {
      opacity: 0.9;
    }

    19% {
      opacity: 0.93;
    }

    20% {
      opacity: 0.99;
    }

    24% {
      opacity: 1;
    }

    26% {
      opacity: 0.94;
    }

    28% {
      opacity: 0.98;
    }

    37% {
      opacity: 0.93;
    }

    38% {
      opacity: 0.5;
    }

    39% {
      opacity: 0.96;
    }

    42% {
      opacity: 1;
    }

    44% {
      opacity: 0.97;
    }

    46% {
      opacity: 0.94;
    }

    56% {
      opacity: 0.9;
    }

    58% {
      opacity: 0.9;
    }

    60% {
      opacity: 0.99;
    }

    68% {
      opacity: 1;
    }

    70% {
      opacity: 0.9;
    }

    72% {
      opacity: 0.95;
    }

    93% {
      opacity: 0.93;
    }

    95% {
      opacity: 0.95;
    }

    97% {
      opacity: 0.93;
    }

    to {
      opacity: 1;
    }
  }
  // .card-bg {
  //   opacity: .8 !important;
  // }
}

///////////////////////////// CATEGORIES SECTION #HOME

.category-cards {
  justify-content: center;
}

.card-for-info {
  transition: .5s ease;
  border-radius: 4px;
  padding: 5px 20px 20px 20px;
  align-items: center;
  background-color: rgb(21, 21, 21);

  hr {
    border: 1px solid grey;
    margin-top: 0 !important;
  }
}


///////////////////////////// DIFFERENTIAL SECTION #HOME

.cards-differential {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  height: 13rem;
  box-shadow: rgba(17, 17, 26, 0.3) 0px 1px 0px, rgba(17, 17, 26, 0.3) 0px 8px 24px, rgba(17, 17, 26, 0.3) 0px 16px 48px;
  margin: 5px;

  .icon {
    font-size: 32px;
    align-items: center;
  }
}

///////////////////////////// SOCIAL MEDIA SECTION #HOME

.cards-social-media {
  background: transparent;
  border: 1px solid rgb(16, 16, 16);
  border-radius: 3px;
  height: 20rem;
  width: 15rem;
  box-shadow: rgba(17, 17, 26, 0.3) 0px 1px 0px, rgba(17, 17, 26, 0.3) 0px 8px 24px, rgba(17, 17, 26, 0.3) 0px 16px 48px;
  margin: 5px;

  h3, p{
    color: white;
    text-shadow: 2px 2px rgb(16, 16, 16);
  }

  .fa-youtube, .fa-instagram  {
    margin-top: 25%;
    color: white;
    font-size: 36px;
  }

  .social-logo{
    display: block !important;
    width: 36px !important;
    height: 36px !important;
    margin-top: 24%;
    margin-left: 41%;
  }
}



.youtube {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), image-url("youtube-background.jpg");
  background-position: center;
  background-size: cover;
}

.instagram {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), image-url("instagram-background.jpg");
  background-position: center;
  background-size: cover;
  .social-instagram:hover {
    color: white !important;
  }
}

.nuflow {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), image-url("nuflow-background.jpg");
  background-position: center;
  background-size: cover;
}

///////////////////////////// BLOG SECTION #HOME

.cards-blog {
  height: 430px;
  border: 1px solid rgb(21,21,21);
  border-radius: 3px;
  width: 50%;
  margin-left: 25%;
  background-color: rgb(21,21,21);
  height: 30rem;
  .blog-img {
    height: 200px;
    width: 100%;
    border-radius: 3px 3px 0 0;
  }
}

///////////////////////////// REVIEW SECTION #HOME

.review-card {
  border-radius: 3px;
  width: 550px;
  height: 270px;
  margin-left: 13.5%;
  padding: 10px;
  background-color: transparent;
  box-shadow: rgba(17, 17, 26, 0.3) 0px 1px 0px, rgba(17, 17, 26, 0.3) 0px 8px 24px, rgba(17, 17, 26, 0.3) 0px 16px 48px;
  // border: 1px solid rgb(158,158,165);;
  .fa-star {
    color: rgb(240, 218, 20);
  }
}

.bike-check-card {
  border: 1px solid rgb(16,16,16);
  border-radius: 5px;
  height: 250px;
  padding: 20px;
  margin: 50px;
  h3, p {
    text-shadow: 2px 2px rgb(16, 16, 16);
  }
}

.bigger-card {
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), image-url("verification.png");
  background-size: cover;
  background-position: center;
}

///////////////////////////// #MY PRODUCT

.my-product-card {
  border-radius: 5px;
  height: 300px;
  background-color: rgb(20, 20, 20);
  .links-profile {
    &:hover {
      color: #eafceb !important;
    }
  }
}

.cards-index-advertisements {
  border-radius: 3px;
  background-color: rgb(20, 20, 20);
  margin-top: 2rem;
  padding: 20px;
  width: 49%;
  p {
    font-size: 16px;
  }

  .index-line {
    border: 1px solid grey;
    width: 100%;
  }
}

.cards-infos-home {
  border-radius: 4px;
  padding: 15px;
}

@media (max-width: 765px) {
  .card {
    width: 100%;
  }
  .cards-index-advertisements {
    width: 100%;
  }
  .my-product-card {
    .carousel{
      display: none;
    }
    .topic-cards-index-media {
      margin-right: 5px;
    }
  }
  .cards-grid {
    display: block;
  }

  .my-products-infos {
    p {
      font-size: 18px !important;
    }
  }
  .links-profile {
    margin: 5px;
  }

  .mobile-profile {
    flex-direction: column;
    gap: 10px;

    .edit-modal {
      align-self: start;
      margin: 0 !important;
    }
  }
}
