.card {
  background: rgb(229,229,234);
  border: 1px solid transparent;
  border-radius: 7px;
  height: 10rem;
  box-shadow: rgba(17, 17, 26, 0.3) 0px 1px 0px, rgba(17, 17, 26, 0.3) 0px 8px 24px, rgba(17, 17, 26, 0.3) 0px 16px 48px;
  .card-icon {
    display: none;
  }

  .card-title {
    color: white;
    margin: auto;
    text-shadow: 2px 2px rgb(16, 16, 16);
  }

  &:hover {
    transform: scale(1.05);
    background-image: none;
    h3 {
      display: none;
    }

    .card-icon {
      display: block;
      width: 50px;
      height: 50px;
      margin: auto;
      filter: invert(46%) sepia(99%) saturate(1234%) hue-rotate(110deg) brightness(97%) contrast(102%);
    }

    .card-bikes {
      background-image: none;
      background-size: cover;
    }
  }
}

.category-cards {
  justify-content: center;
}

.card-bikes {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), image-url("bike-card.png");
  background-size: cover;
}

.card-components {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), image-url("bike-components.png");
  background-size: cover;
}

.card-services {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), image-url("bike-maintenance.png");
  background-size: cover;
}

.card-products {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), image-url("bike-products.png");
  background-size: cover;
}

.cards-differential {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 7px;
  height: 13rem;
  box-shadow: rgba(17, 17, 26, 0.3) 0px 1px 0px, rgba(17, 17, 26, 0.3) 0px 8px 24px, rgba(17, 17, 26, 0.3) 0px 16px 48px;
  margin: 5px;

  .icon {
    font-size: 32px;
    align-items: center;
  }
}


.cards-social-media {
  background: transparent;
  border: 1px solid rgb(16, 16, 16);
  border-radius: 3px;
  height: 20rem;
  width: 15rem;
  box-shadow: rgba(17, 17, 26, 0.3) 0px 1px 0px, rgba(17, 17, 26, 0.3) 0px 8px 24px, rgba(17, 17, 26, 0.3) 0px 16px 48px;
  margin: 5px;

  h3, p{
    color: white;
    text-shadow: 2px 2px rgb(16, 16, 16);
  }

  .fa-youtube, .fa-instagram  {
    margin-top: 25%;
    color: white;
    font-size: 36px;
  }

  .social-logo{
    display: block !important;
    width: 36px !important;
    height: 36px !important;
    margin-top: 24%;
    margin-left: 41%;

  }
}

.youtube {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), image-url("youtube-background.jpg");
  background-position: center;
  background-size: cover;

  .btn-youtube:hover {
    border-color: red;
    color: red;
  }
}

.instagram {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), image-url("instagram-background.jpg");
  background-position: center;
  background-size: cover;

  .social-insta:hover {
    color: white !important;
  }

  .btn-instagram:hover {
    color: #e9ff0a;
    border-color: #e9ff0a;
  }
}

.nuflow {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), image-url("nuflow-background.jpg");
  background-position: center;
  background-size: cover;
}


.cards-blog {
  height: 450px;
  border: 1px solid rgb(21,21,21);
  border-radius: 5px;
  width: 50%;
  margin-left: 30%;
  background-color: rgb(21,21,21);

  .blog-img {
    height: 200px;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
}

.review-card {
  border-radius: 5px;
  width: 550px;
  height: 270px;
  margin-left: 20%;
  padding: 10px;
  background-color: rgb(21,21,21);

  .fa-star {
    color: yellow;
  }
}
