.card {
  background: transparent;
  border: 1px solid rgb(153,153,153);
  border-radius: 7px;
  height: 10rem;
  box-shadow: 0 0 11px rgba(16,16,16, .3);

 &:hover {
  transform: scale(1.05);
 }
}

.card-title {
  color: rgb(153,153,153);
}

.category-cards {
  justify-content: center;
}

.card:hover .card-icon {
  opacity: 0;
}

.card:hover h3 {
  transform: translateY(15px) !important;
  color: $color-primary;
}

.card-icon {
  width: 50px;
  height: 50px;
  filter: invert(73%) sepia(0%) saturate(4%) hue-rotate(213deg) brightness(84%) contrast(89%);
}

.card-bikes:hover {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), image-url("bike-card.png");
  background-size: cover;
}

.card-components:hover {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), image-url("bike-components.png");
  background-size: cover;
}

.card-services:hover {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), image-url("bike-maintenance.png");
  background-size: cover;
}

.card-products:hover {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), image-url("bike-products.png");
  background-size: cover;
}


.cards-differential {
  background: transparent;
  border: 1px solid rgb(153,153,153);
  border-radius: 7px;
  height: 13rem;
  box-shadow: 0 0 11px rgba(16,16,16, .3);
  margin: 5px;


  .icon {
    font-size: 32px;
    align-items: center;
  }
}


.cards-social-media {
  background: transparent;
  border: 1px solid rgb(153,153,153);
  border-radius: 7px;
  height: 10rem;
  width: 20rem;
  box-shadow: 0 0 11px rgba(16,16,16, .3);
  margin: 5px;
}

.youtube {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), image-url("youtube.png");
  background-size: cover;
}

.youtube:hover {
  h3{
    transform: translateY(-40px) !important;
  }

  p{
    opacity: 0 !important;
  }

  .fa-youtube{
    transform: translateY(-35px) !important;
    opacity: 1 !important;
    color: red !important;
    font-size: 32px !important;
  }
}

.instagram {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), image-url("instagram.png");
  background-size: cover;
}

.instagram:hover {
  h3{
    transform: translateY(-40px) !important;
  }

  p{
    opacity: 0 !important;
  }

  .fa-instagram{
    transform: translateY(-35px) !important;
    opacity: 1 !important;
    color: rgb(201,41,107);
    font-size: 32px !important;
  }
}

.facebook {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), image-url("facebook.png");
  background-size: cover;
}

.facebook:hover {
  h3{
    transform: translateY(-40px) !important;
  }

  p{
    opacity: 0 !important;
  }

  .fa-facebook{
    transform: translateY(-35px) !important;
    opacity: 1 !important;
    color: rgb(72,103,170);
    font-size: 32px !important;
  }
}

.social-media {
  text-decoration: none;
}

.cards-blog {
  height: 500px;
  border: 1px solid rgb(21,21,21);
  border-radius: 5px;
  width: 40%;
  margin-left: 30%;
  background-color: rgb(21,21,21);

  .blog-img {
    height: 200px;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
}

.bike-check-card {
  border: 1px solid $color-primary;
  border-radius: 5px;
  height: 250px;
  padding: 20px;
  width: 50%;
}
