#single_chat {
  height: calc(50vh - 100px);
}

#messages {
  height: calc(50vh - 100px);
  overflow-x: hidden;
  overflow-y: scroll;
}

#chat_container {
  height: 50vh;
  margin-right: 0px !important;
}

#side_panel {
  height: 100vh;
  margin-right: 0px !important;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 55px;
}
#chatroom_container {
  height: 100vh;
  margin-right: 0px !important;
  overflow-x: hidden;
  overflow-y: hidden;
}

.msg-content {
  width: 80%;
  margin-right: 5px;
}

#chat-text {

  width: 40%;
  height: 5.625rem;
  border-radius: 8px;
  border-color: transparent !important;


}

#chat-text:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: $color-primary;
}

.message-box {
  word-wrap: break-word;
  width: fit-content;
  max-width: 40%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #555555;
  padding: 10px;
}

.user_row {
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid #555555;
}

.username {
  overflow: hidden;
}

.chat_pfp {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.user_list_item {
  height: 55px;
  background-color: #343a40 !important;
}
.room_list_item {
  height: 55px;
  background-color: #343a40 !important;
  color: #fff;
}

.name {
  margin-top: 15px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.time {
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 10px;
}

.btn-msg {
  padding: 3px;
  border: 1px solid $color-primary;
  background: transparent;
  color: $color-primary;
  font-size: 18px;
  border-radius: 10px;

  &:hover {
    border: 1px solid $color-primary;
    background: transparent;
    color: white;
  }
}

.icon-container {
  width: 50px;
  height: 50px;
  position: relative;
}
.status-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: grey;
  border: 2px solid white;
  bottom: 10px;
  right: 10px;
  position: absolute;
}
