///////////////////////////// IMAGES BIKE CHECK SECTION

.bike-check-img {
  height: 350px;
  width: 247px;
  box-shadow: 0px 0px 20px 0px #00c4545e;
  opacity: 0.9;
}

.my-product-img {
  height: 298px !important;
  border-radius: 5px 0 0 5px;
  width: 100%;
}

.review-images-admin {
  height: 300px !important;
}


.img-carousel {
  height: 300px !important;
  width: 100%;


}


.search-img {
  // height: 45px !important;
  width: 9% !important;
  border-radius: 4px;
}
