.bike-png {
  filter: invert(46%) sepia(99%) saturate(1234%) hue-rotate(110deg) brightness(97%) contrast(102%);
  height: 100px;
  width: 100px;
  margin-top: 87px;
  margin-left: 230px;
}



  // background: rgb(15,116,53);
  // background: radial-gradient(circle, rgba(15,116,53,1) 0%, rgba(16,16,16,1) 70%);



.bike-check-img {
  height: 350px;
  width: 247px;

}


// .check-img-section-1 {

//   background: rgb(2,0,36);
//   background-image: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,196,84,1) 0%, rgba(16,16,16,1) 100%), image-url("bike-check-1.png");
//   background-size: cover;
//   background-position: center;
//   height: 350px;
//   width: 247px;
// }
