///////////////////////////// IMAGES BIKE CHECK SECTION

.bike-check-img {
  height: 350px;
  width: 247px;
  box-shadow: 0px 0px 20px 0px #00c4545e;
  opacity: 0.9;
}

.my-product-img {
  height: 298px !important;
  border-radius: 5px 0 0 5px;
  width: 100%;
}

.advertisable-img {
  height: 298px !important;
  border-radius: 4px;
  width: 100%;
  object-fit: cover;
  
}

.review-images-admin {
  height: 300px !important;
}


.img-carousel {
  height: 300px !important;
  width: 100%;
  object-fit: cover;

}

.avatar-profile-mobile-navbar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: $color-primary 1px solid;
}

.search-img {
  width: 15% !important;
  max-height: 50px;
  border-radius: 4px;
  object-fit: cover;
}


@media (max-width: 765px)  {
  .search-img {
    display: none;
    // width: 10% !important;
    // max-height: 30px;
    // border-radius: 4px;
    // object-fit: cover;
  }

}
