$color-primary: #00c454;
$color-darker: #101010;
$white: #fff;

.text-gray {
  color: rgb(158,158,165);
}



.bg-card-dark {
  background-color: rgb(20, 20, 20)
}

.text-verified {
  color: #38ec80 !important;
  margin-bottom: 0 !important;
}

a {
  text-decoration: none !important;
}

@media (max-width: 768px) {
}
h2 {
  font-size: 56px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 14px;
}
p {
  font-size: 16px;
}

.title {
  letter-spacing: 1px;
  color: $color-primary;
  text-transform: uppercase;
}

.bg-primary-color {
  background: $color-primary !important;
}
.bg-darker {
  background: $color-darker;
}

.vh-100 {
  height: 100vh;
}

.page-wrapper {
  padding: 60px 200px;
  min-height: calc(100vh - 120px);
  @media screen and (max-width: 768px) {
    padding: 20px;
  }
}

.React-logo {
  height: 10vmin;
  pointer-events: none;

  @media screen and (max-width: 768px) {
     height: 20vmin;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .React-logo {
    animation: React-logo-spin infinite 10s linear;
  }
}

@keyframes React-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-tabs {
  border-bottom: none !important;
  &.underlined {
    border-bottom: 1px solid $color-primary !important;
  }

  button {
    text-transform: uppercase !important;
    font-size: 18px !important;
    padding: 12px !important;
  }

  .active {
    background: black !important;
    color: $color-primary !important;
    border-color: $color-primary !important;
  }
}

.btn-outline {
  color: $color-primary !important;
  background-color: rgba(0,0,0,0.5) !important;
  border-color: $color-primary !important;
  font-weight: 500 !important;
  border-radius: 8px !important;
  font-size: 30px !important;
  padding: 1px 20px 1px 20px !important;
  &:hover {
    color: $white !important;
    background-color: rgba(0,196,84,0.8)  !important;
    opacity: 0.9;
    transition: 300ms;
  }
}

.btn-classic {
  color: white !important;
  background-color: rgb(0,196,84) !important;
  border-color: $color-primary !important;
  font-weight: 500 !important;
  border-radius: 8px !important;
  font-size: 30px !important;
  padding: 1px 17px 1px 17px !important;
  &:hover {
    color: $color-primary !important;
    background-color: transparent !important;
    opacity: 0.9;
    transition: 300ms;
  }
}

.btn-primary {
  color: white !important;
  background-color: rgba(0,196,84,0.8) !important;
  border-color: $color-primary !important;
  font-weight: 500 !important;
  border-radius: 8px !important;
  font-size: 30px !important;
  padding: 1px 20px 1px 20px !important;
  &:hover {
    color: $color-primary !important;
    background-color: rgba(0,0,0,0.5) !important;
    opacity: 0.9;
    transition: 300ms;
  }
}

.btn-underline {
  color: $color-primary !important;
  background-color: transparent !important;
  text-decoration: underline;
  text-decoration-color: $color-primary;
  border: none;
  border-radius: 24px !important;
  &:hover {
    color: $color-darker;
    background-color: white;
    opacity: 0.9;
    transition: 300ms;
  }
}

.text-color-primary {
  color: $color-primary !important;
}

form {
  width: 100%;

  label {
    font-size: 20px;
    color: $color-primary;
    letter-spacing: 1px;
  }

  .form-group {
    color: white;
    width: 100%;
  }
}

.remove-link {
  text-decoration: none;
}
