<div>
  <react
    data-component="ProductForm"
    data-product="<%= @product.to_json %>"
    data-product-attributes="<%= @product_attributes.to_json %>"
    data-product-id="<%= @product.id.to_json %>"
  /></react>
</div>
