<div class="new-product-react">
  <div class="">
    <react
    data-component="ProductForm"
    data-product="<%= @product.to_json %>"
    data-product-attributes="<%= @product_attributes.to_json %>"
    data-product-id="<%= @product.id.to_json %>"
    data-category-id="<%= @product.category.id  %>"
  /></react>
  </div>
</div>
