<div class="new-product-react">
  <div class="container">
    <react
      data-component="ProductForm"
      data-product="<%= @product.to_json %>"
      data-product-attributes="<%= @product_attributes.to_json %>"
    /></react>

  </div>
</div>
