<div class="">
  <div class="">
    <react data-component="Product"
      data-product-id="<%= @product.id.to_json %>"
      data-product-attributes="<%= @product.product_attributes.to_json %>"
      data-user-present="<%= current_user.present? %>"
      data-current-user="<%= current_user.id %>"
    />
  </div>
</div>
