<div class="">
  <div class="">
    <react data-component="Product"
    data-product-id="<%= @product.id.to_json %>"
    data-product-attributes="<%= @product.product_attributes.to_json %>"
    />
  </div>
</div>
