<div class="input-group msg-form mt-3" >
  <%= form_with(model: [@single_chat, @message], remote: true, clas: "d-flex", data: { controller: "reset-form", action: 'turbo:submit-end->reset-form#reset' }) do |f| %>
    <div id="attachment-previews"
    class="d-none"
    data-controller="message-preview"
    data-action="message-preview#preview"
    >
    </div>
    <div class="d-flex">
      <div class="image-upload">
        <label for="message_attachments">
          <i class="fas fa-paperclip upload-button mt-1"></i>
        </label>
        <%= f.file_field(:attachments, multiple: true,
          data:{controller: "message-preview", action:"change->message-preview#preview"}) %>
      </div>
      <%= f.text_field :content, id: "chat-text", clas: "form-control msg-content", autocomplete: "off" %>
      <%= f.submit "Enviar", data: {disable_with: false,
        controller: "message-preview",
        action:"click->message-preview#clearPreviews"},
        class: "btn-msg ms-2"
      %>
    </div>
  <% end %>
</div>
